canvas {
  border: 1px solid black;
}

h1 {
  font-size: 1.6em;
}

p {
  font-size: 0.8em;
}
.form-inline label, .form-inline select {
  margin-right: 1vw;
}

.bounding-boxs-list {
  margin-top: 10px;
}

.bounding-boxs-list li {
  cursor: pointer;
}

.action-buttons {
  margin-right: 2px;
}