<div class="container" id="labelisation-container">
  <!-- This section is displayed when an image is loaded from the server  -->
  <div class="row">
    <div class="col">
      <canvas #imageCanvas [hidden]="!image"></canvas>
    </div>
    <div class="col" *ngIf="image">
      <h1>Labels</h1>
      <p class="text-muted">Here is the list of labels available in the image
        To labelise the image plese select a category and click
        on the add button.
        When you finish drawing the bounding box arround the element click save
      </p>
      <div class="form-inline">
        <div class="form-inline" *ngIf="selectedLabel">
          <label for="categories">select category</label>
          <select class="form-control" 
                  id="categories" 
                  [(ngModel)]="selectedLabel"
                  (change)="onChangeLabel()">
            <option *ngFor="let label of labels" [ngValue]="label">{{label.name}}</option>
          </select>
        </div>
        <div class="action-buttons">
          <button class="btn btn-success" 
                  (click)="onClickSave()"
                  [disabled]="currentBoundingBox.w == 0 || currentBoundingBox.h == 0">
            <i class="fa fa-check"></i>
          </button>
        </div>
      </div>
      <div class="created-bounding-boxs">
        <ul class="bounding-boxs-list list-group"
            (mouseleave)="hoverIndex=null">
          <li *ngFor="let box of image.boundingBoxes; let i=index"
              class="list-group-item"
              (mouseenter)="hoverIndex=i"
              (click)="onClickBoxItem(box)"
              [style.backgroundColor]="getBoxListColor(box)"
              [class.active]="isBoxSelected(box)">{{box.label.name}}
            <div class="crud-action-buttons" *ngIf="i==hoverIndex">
                <button class="btn btn-sm btn-danger" 
                        (click)="onDeleteBox(box)">
                  <i class="fa fa-times"></i>
                </button>
            </div>
          </li>
        </ul>
      </div>
      <button class="btn btn-success"
              id="labelise-button"
              (click)="onLabeliseImage()">Labelise this image</button>
    </div>
  </div>
  <!-- End of This section is displayed when an image is loaded from the server  -->

  <!-- section displayed if the image is not loaded from the server -->
  <div *ngIf="!image">
    <div class="text-center">
      <img *ngIf="!image" class="img-fluid" src="assets/finish.gif"/>
    </div>
    <div class="text-center" style="margin-top: 20px">
      <p class="text-muted">All the images from the dataset are labelised</p>
    </div>
  </div>
   <!-- END OF section displayed if the image is not loaded from the server -->
</div>