<div class="container">
  <div class="row">
    <div class="col">
      <canvas #imageCanvas></canvas>
    </div>
    <div class="col">
      <app-labelisation-form  *ngIf="image"
                              (labelSelected)="startDrawingBoundingBox($event)"
                              (save)="saveDrawnBoundingBox()"
                              (cancel)="cancelDrawnBoundingBox()"
                              [createdboundingBoxes]="image.boundingBoxes"></app-labelisation-form>
    </div>
  </div>
</div>